 <div id="errormessage"></div>

                      <form action="{% url 'Login' %}" method="post" role="form" >
                       <!-- <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                              <label>First Name</label>
                              <input type="text" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                              <div class="validation"></div>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                              <label>Last Name</label>
                              <input type="text" name="last_name" id="last_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                              <div class="validation"></div>
                            </div>
                          </div>
                        </div>-->
                       {% csrf_token %}
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                              <label>Username</label>
                              <input type="text" name="t1" id="email" class="form-control input-md" required  data-rule="required" data-msg="The Username is required" placeholder="Username">
                              <div class="validation"></div>
                            </div>
                          </div></div>
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                              <label>password</label>
                              <input type="password" name="t2" id="phone" required class="form-control input-md" data-rule="required" data-msg="The password is required" placeholder="Enter your registered phone number">
                              <div class="validation"></div>
                            </div>
                          </div>
                        </div>

                        <input type="submit" value="Submit" class="btn btn-skin btn-block btn-lg">

                        <p class="lead-footer"><a href="{% url 'SignUp' %}">create  an account</a></p>
                        <a style="margin-left:250px" href="{% url 'forgot' %}">Forgot Password</a>
                      </form>
                    </div>